.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/foto.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 249, 249, 0.8); 
  text-align: center;
}

.h2 {
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.inputText, .inputEmail, .inputPassword {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputSubmit {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inputSubmit:hover {
  background-color: #0056b3;
}
